{% extends "index.html" %}
{% block tudo %}

<br>
<br>

 ======= Services Section =======
    <section id="services" class="services">
      <div class="container">

        <div class="section-title">
          <h2>Painel de ações</h2>
          <p></p>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="fas fa-hospital-user"></i></div>
              <h4><a href="listar_usuario">Usuários</a></h4>
              <p>Painel do usuário</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="icon-box">
              <div class="icon"><i class="fas fa-dna"></i></div>
              <h4><a href="historico_doencas">Histórico de saúde</a></h4>
              <p>Painel de saúde</p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
            <div class="icon-box">
              <div class="icon"><i class="fas fa-heartbeat"></i></div>
              <h4 class="nav-link scrollto"><a href="solicitar">Solicitar </a></h4>
              <p>Painel de solicitação</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
            <div class="icon-box">
              <div class="icon"><i class="fas fa-notes-medical"></i></div>
              <h4><a href="doar">Doar</a></h4>
              <p>Painel de doação</p>
            </div>
          </div>

        </div>

      </div>
    </section>


{% endblock tudo %}